:root {
	--gray-background: #e4e6eb;
	--text-color-black: #050505;
	--text-color-light: #8a8d91;
	--card-border: #282828;
	--shadow-1: rgba(0, 0, 0, 0.2);
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #f0f2f5;
}
* {
	margin: 0px;
	box-sizing: border-box;
}
#app {
	width: 100%;
	margin: auto;
	max-height: 50vh;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	min-height: 100vh;
	margin: auto;
}
.messenger {
	width: 100%;
	height: 90vh;
	background-color: white;
	box-shadow: 0 1px 2px var(--shadow-1);
}
.header-wrap {
	width: 100%;
	padding: 20px;
	height: 60px;
	box-shadow: 0 2px 5px var(--shadow-1);
}
.conversationPane {
	height: calc(100% - 60px);
	padding: 20px;
	overflow: scroll;
}
.message-bubble {
	display: flex;
	max-width: 60%;
	margin: 0px;
	margin-bottom: 30px;
	align-items: flex-end;
	.avatar-wrap {
		position: relative;
		width: 50px;
		height: 50px;
		display: flex;
		flex-direction: column-reverse;
		margin-right: 10px;
		> .avatar {
			background-size: cover;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		&:hover .tooltip {
			visibility: visible;
		}
		.tooltip {
			visibility: hidden;
			position: absolute;
			background: white;
			color: var(--text-color-black);
			z-index: 10;
			padding: 10px;
			border-radius: 5px;
			top: -39px;
			font-size: 12px;
			cursor: pointer;
			box-shadow: 0 4px 4px var(--shadow-1);
			&:after {
				position: absolute;
				content: '';
				width: 15px;
				height: 15px;
				background: white;
				bottom: -7px;
				transform: rotate(45deg);
				left: 16px;
				z-index: 0;
			}
		}
	}
	.message-container {
		position: relative;
		max-width: calc(100% - 60px);
		.message-wrap {
			position: relative;
			background-color: var(--gray-background);
			padding: 10px;
			border-radius: 10px 10px 10px 0;
			padding: 10px;
			box-sizing: border-box;
			color: var(--text-color-black);
		}
		> div > p:first-child {
			margin: 0 0 5px;
			color: var(--text-color-light);
			font-size: 12px;
			font-weight: 100;
		}
		.timestamp-wrap {
			position: absolute;
			width: 100%;
			> div {
				position: relative;
				display: flex;
				width: 100%;
				justify-content: flex-end;
				> p {
					margin: 5px 0 0 0;
					color: var(--text-color-light);
					font-size: 12px;
					font-weight: 100;
				}
			}
		}
	}
}

// Loader Component
.loader-wrapper {
	display: flex;
	justify-content: center;
	.loader {
		border: 4px solid #f3f3f3;
		border-top: 4px solid #3498db;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		animation: spin 2s linear infinite;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
